## Кросс-валидация на примере регрессии

Имеется набор данных с признаками автомобилей и ценами на них. Необходимо построить предсказание цены

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv( 'cars.csv', delimiter = '\t' )
data.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221.0,Buick,Century,Sedan 4D,Sedan,6.0,3.1,4.0,1.0,1.0,1.0
1,17542.036083,9135.0,Buick,Century,Sedan 4D,Sedan,6.0,3.1,4.0,1.0,1.0,0.0
2,16218.847862,13196.0,Buick,Century,Sedan 4D,Sedan,6.0,3.1,4.0,1.0,1.0,0.0
3,16336.913140,16342.0,Buick,Century,Sedan 4D,Sedan,6.0,3.1,4.0,1.0,0.0,0.0
4,16339.170324,19832.0,Buick,Century,Sedan 4D,Sedan,6.0,3.1,4.0,1.0,0.0,1.0

In [4]:
X = pd.get_dummies(data.loc[:, ['Mileage', 'Liter', 'Make']])
X.head()

,Mileage,Liter,Make_Buick,Make_Cadillac,Make_Chevrolet,Make_Pontiac,Make_SAAB,Make_Saturn
0,8221.0,3.1,1,0,0,0,0,0
1,9135.0,3.1,1,0,0,0,0,0
2,13196.0,3.1,1,0,0,0,0,0
3,16342.0,3.1,1,0,0,0,0,0
4,19832.0,3.1,1,0,0,0,0,0

In [5]:
Y = data.loc[ :, ['Price'] ]
Y.head()

          Price
0  17314.103129
1  17542.036083
2  16218.847862
3  16336.913140
4  16339.170324

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
model = LinearRegression()

In [8]:
from sklearn.model_selection import cross_val_score

In [9]:
# варианты scoring
# http://scikit-learn.org/stable/modules/model_evaluation.html#common-cases-predefined-values

cross_val_score( model, X, Y, cv = 5, scoring = 'r2' )

array([ 0.16919031,  0.19331519,  0.6203816 ,  0.48901297,  0.55233745])